{% extends 'base.html.twig' %}

{% block body %}
    <section>
        {% for serie in series %}
            <article>
                <a href="{{ path('serie_detail', {'id': serie.id}) }}" title="View serie's details">
                    <img src="{{ asset('img/posters/series/' ~ serie.poster ) }}" alt="{{ serie.name }}">
                </a>
            </article>

        {% endfor %}
    </section>
{% endblock %}

{% block title %}
{{ parent() }} | The best series
{% endblock %}

